<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
  </head>
  <body>




    <p>helooooo</p>
    <footer>
    <a href="/logout"><button type="button" name="button" act>Logout</button></a>



<% if (user.isAdmin){%> <a href="/stats"><button class="Button" type="button" name="button" act>Admin Page</button></a><% }%>

  <a href="/home"><button class="Button" type="button" name="button" act>Home</button></a>
  </footer>
  </body>
</html>
