<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- external CSS link -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Power Thoughts</title>
</head>

<body>


  <h1 id="title">Power Thoughts survey</h1>

  <!-- <div class="userInformation">
    <% if (user.local.email) { %>
    <h2>Current User:</h2>
    <h3><%= user.local.email %></h3>
    <h2>User Token:</h2>
    <h3><%= user.local.password %></h3>

    <% } %> -->



    <p id="description">Thank you for taking the time to help us improve the platform Power Thoughts which aims to improve mindfullness and mental well being. </p>
    <div id="body">
<form class=""action="/surveyQ" method="POST" >

        <label id="number-label" for="number">
          <p>Age:</p>
        </label>

        <input id="number" type="number" placeholder="Enter Your Age" min="12" max="" name="age" required>

        <p>What is your race or origin?</p>
        <select id="dropdown" name="race">

          <option value="default" disabled selected >Choose an option</option>
          <option value="Caucasian">Caucasian</option>
          <option value="Black or African American">Black or African American</option>
          <option value="Native American">Native American</option>
          <option value="Asian">Asian</option>
          <option value="Hispanic, Latino, or Spanish">Hispanic, Latino, or Spanish</option>

        </select>

        <p> During the last 30 days, about how often did you feel tired out for no good reason?</p>

        <select class="q1" name="q1">

          <option value="default" disabled selected>Choose an option</option>
          <option value="1">None of the time</option>
          <option value="2">A little of the time</option>
          <option value="3">Some of the time</option>
          <option value="4">Most of the time</option>
          <option value="5">All of the time</option>

        </select>

        <p>During the last 30 days, about how often did you feel nervous?</p>
        <select class="q2" name="q2">

          <option value="default" disabled selected>Choose an option</option>
          <option value="1">None of the time</option>
          <option value="2">A little of the time</option>
          <option value="3">Some of the time</option>
          <option value="4">Most of the time</option>
          <option value="5">All of the time</option>

        </select>

        <p>During the last 30 days, about how often did you feel so nervous that nothing could calm you down?</p>
        <select class="q3" name="q3">

          <option value="default" disabled selected>Choose an option</option>
          <option value="1">None of the time</option>
          <option value="2">A little of the time</option>
          <option value="3">Some of the time</option>
          <option value="4">Most of the time</option>
          <option value="5">All of the time</option>

        </select>

        <p>During the last 30 days, about how often did you feel hopeless?</p>
        <select class="q4" name="q4">

          <option value="default" disabled selected>Choose an option</option>
          <option value="1">None of the time</option>
          <option value="2">A little of the time</option>
          <option value="3">Some of the time</option>
          <option value="4">Most of the time</option>
          <option value="5">All of the time</option>

        </select>

        <p>During the last 30 days, about how often did you feel restless or fidgety?</p>
        <select class="q5" name="q5">

          <option value="default" disabled selected>Choose an option</option>
          <option value="1">None of the time</option>
          <option value="2">A little of the time</option>
          <option value="3">Some of the time</option>
          <option value="4">Most of the time</option>
          <option value="5">All of the time</option>

        </select>

        <p>During the last 30 days, about how often did you feel so restless you could not sit still?</p>
        <select class="q6" name="q6">

          <option value="default" disabled selected>Choose an option</option>
          <option value="1">None of the time</option>
          <option value="2">A little of the time</option>
          <option value="3">Some of the time</option>
          <option value="4">Most of the time</option>
          <option value="5">All of the time</option>

        </select>

        <p>During the last 30 days, about how often did you feel depressed?</p>
        <select class="q7" name="q7">

          <option value="default" disabled selected>Choose an option</option>
          <option value="1">None of the time</option>
          <option value="2">A little of the time</option>
          <option value="3">Some of the time</option>
          <option value="4">Most of the time</option>
          <option value="5">All of the time</option>

        </select>

        <p>During the last 30 days, about how often did you feel that everything was an effort?</p>
        <select class="q8" name="q8">

          <option value="default" disabled selected>Choose an option</option>
          <option value="1">None of the time</option>
          <option value="2">A little of the time</option>
          <option value="3">Some of the time</option>
          <option value="4">Most of the time</option>
          <option value="5">All of the time</option>

        </select>

        <p>During the last 30 days, about how often did you feel so sad that nothing could cheer you up?</p>
        <select class="q9" name="q9">

          <option value="default" disabled selected>Choose an option</option>
          <option value="1">None of the time</option>
          <option value="2">A little of the time</option>
          <option value="3">Some of the time</option>
          <option value="4">Most of the time</option>
          <option value="5">All of the time</option>

        </select>

        <p>During the last 30 days, about how often did you feel worthless?</p>
        <select class="q10" name="q10">

          <option value="default" disabled selected>Choose an option</option>
          <option value="1">None of the time</option>
          <option value="2">A little of the time</option>
          <option value="3">Some of the time</option>
          <option value="4">Most of the time</option>
          <option value="5">All of the time</option>

        </select>


        <textarea id="comment" rows="4" cols="40" name="comment">Add Your Comment Here</textarea>
        <br>
        <button id="submit" type="submit" value="Submit"></button>
</form>

<!-- <script type="text/javascript" src="/js/main.js"></script> -->

    </div>
</body>
