<!DOCTYPE HTML>

<html>

<head>
	<title>Power Thougts</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body class="landing is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="https://amilordsportfolio.netlify.app/">Asianna Milord's</a> Portfolio </h1>
			<nav id="nav">
				<ul>
					<% /* %><li><a href="index.html"></a></li><% */ %>
					<li>
						<a href="#" class="icon solid fa-angle-down">More</a>
						<ul>
							<li><a href="/aboutus">About Us</a></li>
						</ul>
					</li>
					<li><a href="/login" class="button">Log In</a></li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<h2>Power Thoughts </h2>
			<p>It is safe to look within</p>
			<ul class="actions special">
				<li><a href="/signup" class="button primary">Sign Up</a></li>
			</ul>
		</section>

		<!-- Main -->
		<section id="main" class="container">

			<section class="box special">
				<header class="major">
					<h2>Introducing a Mental Mindfulness Web Application
						<br />
					</h2>
					<p>Helping people manage their thoughts and feelings.</p>
				</header>
				<span class="image featured"><img src="images/banner7.jpg" alt="" /></span>
			</section>

			<section class="box special features">
				<div class="features-row">
					<section>
						<span class="icon solid major fa-bolt accent2"></span>
						<h3>Journaling</h3>
						<p>Helps control your symptoms and improve your mood by assisting you with prioritizing problems, fears, and concerns. Tracking any feelings day-to-day so that you can recognize triggers and learn ways to better control them. Providing an
							opportunity for positive self-talk and identifying negative thoughts.</p>
					</section>
					<section>
						<span class="icon solid major fa-cloud accent4"></span>
						<h3>Daily Affirmations</h3>
						<p> Words of affirmation can be used like positive mantra’s, meaning the weight you put into them is up to you. If you can believe these positive phrases then you can make them a reality. This creates a habit of positive thinking.

						</p>
					</section>
				</div>
				<div class="features-row">
					<section>
						<span class="icon solid major fa-chart-area accent3"></span>
						<h3>Research</h3>
						<p>Data is displayed on an admin page for research administrators to analyze.</p>
					</section>
					<section>
						<span class="icon solid major fa-lock accent5"></span>
						<h3>Medical Tracking System</h3>
						<p>Medical professionals can view their patient's progress through their journal entries and discuss wellness implementation plans. This increases efficiency between patients and their providers.
						</p>
					</section>
				</div>
			</section>




			<!-- CTA -->
			<!-- <section id="cta">

			<h2>Sign up for beta access</h2>
			<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

			<form>
				<div class="row gtr-50 gtr-uniform">
					<div class="col-8 col-12-mobilep">
						<input type="email" name="email" id="email" placeholder="Email Address" />
					</div>
					<div class="col-4 col-12-mobilep">
						<input type="submit" value="Sign Up" class="fit" />
					</div>
				</div>
			</form>

		</section> -->

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/OhhMilord" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://github.com/amilord" class="icon brands fa-github"><span class="label">Github</span></a></li>
				</ul>

			</footer>

	</div>

	<!-- Scripts -->
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/jquery.dropotron.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script>
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>

</body>

</html>
