<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <title> Mental Health Resources</title>

</head>

<body>

  <h1>Mental Health Resources</h1>

  <p></p>Looking for more help beyond meditation and mindfulness? These trusted mental health resources from around the world can provide you with extra support when you need it. Explore them below, and feel free to share this page with anyone you
  care about.</p>

  <ul>
    <li>US National Alliance on Mental Illness (NAMI): 1-800-950-NAMI - nationwide network and search function for support and education; https://www.nami.org/Support-Education/NAMI-HelpLine/Top-HelpLine-Resources</li>
    <li>US National Suicide Prevention Lifeline: 1-800-273-TALK (1-800-273-8255) or 988 - Languages: English, Spanish; https://suicidepreventionlifeline.org/ (Deaf & Hard of Hearing Options): 1-800-799-4889</li>
    <li>US Samaritans: 877-870-HOPE (4673) - registered charity aimed at providing emotional support to anyone in distress or at risk of suicide throughout the United States; http://www.samaritansusa.org/</li>
    <li>US SAMHSA National Helpline: - 1-800-662-HELP (4357) - free, confidential, 24/7, 365-day-a-year treatment referral and information service (in English and Spanish) for individuals and families facing mental and/or substance use disorders</li>
    <li>US Trevor Project: 1-866-488-7386 - an organization that provides a 24-hour phone hotline, as well as limited-hour webchat and text options, for lesbian, gay, bisexual, transgender and questioning youth within the US; text TREVOR to 1-202-304-1200 (available M-F from 3:00 pm to 10:00 pm ET)</li>
    <li>US Veterans Crisis Line: 1-800-273-8255 - 24/7 hotline that provides phone, webchat, and text options available to military veterans and their families. It provides options for deaf and hard of hearing individuals</li>
  </ul>


  <footer>
  

    <a href="/home"><button class="Button" type="button" name="button" act>Home</button></a>
      <a href="/logout"><button type="button" name="button" act>Logout</button></a>
  </footer>
</body>

</html>
