<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/aa1a2a1c33.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="css/normalize.css">

	<title>User Journal Tracker</title>

	<!-- external CSS link -->
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>

	<main>

		<div class="content">
			<h2 class="contentTitle">Power Thoughts a Mindfulness Approach</h2>

			<h3 class="prevRecordings hideTable">Previous Recordings</h3>

			<div id="tableWrapper" class="tableWrapper">
				<div class="scrollAssist">
					<table class="moodTable" style="width:100%">
						<thead>
							<tr class="headtr">
								<th>Client's Journal Entries</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody class="tableBody">
							<% if (typeof journalInfo == 'undefined'){%>
									<%} else {%>
							<% for(var i=0; i < journalInfo.length; i++){%>
							<tr>
								<td> <%= journalInfo[i] %></td>
							</tr>
							<% }%>
							<% }%>
						</tbody>
					</table>
				</div>
			</div>

		</div>



	</main>
	<footer>
		<a href="/logout"><button type="button" name="button" act>Logout</button></a>



		<% if (user.local.isAdmin){%> <a href="/stats"><button class="Button" type="button" name="button" act>Admin Page</button></a><% }%>
		<a href="/home"><button class="Button" type="button" name="button" act>Home</button></a>
	</footer>
	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>
